/*Colores de la pagina*/
/*fuente de la pagina*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

nav {
  grid-area: header;
  background-color: #aed1e6;
  color: white;
  padding-bottom: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  nav .navbar-toggler {
    border: none; }
  nav .titulo-pagina {
    font-family: "Pacifico", cursive;
    font-size: 1.5rem;
    color: white; }

/*Titulo de la pagina*/
/*enlaces del menu*/
.nav-item .nav-link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.25rem;
  padding: 5px; }

.offcanvas {
  background-color: #AED1E6; }
