/*Reseteo de estilos*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*Incluimos en el calculo padding y border*/
}

/*Cuerpo de la pagina*/
body{
    background-color: #CFE8EF;
    font-family: 'Raleway','sans-serif';/*Fuente de letra*/

}

/*Encabezado de la pagina*/
header{
    background-color: #AED1E6;
    color: #FFFFFF;/*Color del texto dentro del header*/
    height: 10vh;/*Alto del header*/
    font-size: 0;/*Para que el titulo y el menu se muestren en linea sin el bug de display*/
}

/*Titulo de la pagina*/
body header h1{

    font-family: 'Pacifico', cursive;/*Fuente de letra*/
    font-size: 32px;/*Tamaño de la letra*/
    width: 20%;/*Ancho del titulo*/
    
    display: inline-block;/*Para que el titulo se muestre en linea*/
    vertical-align: center;/*Para que el titulo se muestre en el centro verticalmente*/
}

/*Menu de navegacion*/
body header nav{
    font-size: 0;/*Para que el titulo y el menu se muestren en linea sin el bug de display*/
    width: 80%;/*Ancho del menu*/;
   
    display: inline-block;/*Para que el menu se muestre en linea*/
    text-align: right;/*Para que el menu se muestre a la derecha*/
    vertical-align: center;/*Para que el menu se muestre en el centro verticalmente*/
}

/*item de link*/
header nav ul li{
    display: inline-block;/*Para que los elementos de la lista se muestren en linea*/
    list-style-type: none;/*Quita los puntos de la lista*/
}

/*Estilo de los enlaces del menu*/
header nav ul li a{
    text-decoration: none;/*Quita el subrayado de los enlaces*/
    color: #FFFFFF;/*Color del texto de los enlaces*/
    font-size: 24px;/*Tamaño de la letra*/
    padding: 5px;/*Espacio entre el texto y el borde del enlace*/
}

/*Banner de inicio*/
#banner{
    height: 547px;/*Alto del banner*/
    width: 100%;/*Ancho del banner*/
    background-image:url("../images/helados.jpg");/*Imagen de fondo*/
    background-repeat: no-repeat;/*No se repite la imagen*/
    background-position:bottom;/*Posiciono la imagen con referencia al borde de abajo*/
    background-size: cover;/*La imagen se ajusta al tamaño del contenedor*/
    font-family: 'Pacifico', cursive;/*Fuente de letra*/
    color: #FFFFFF;/*Color del texto*/
    font-size: 96px;/*Tamaño de la letra*/
}

/*titulos*/
.titulo{
    font-family: 'Pacifico', cursive;
    font-size: 64px;
    color: #A0C4E2;
    /* font-family: 'Raleway', sans-serif; */
}

/*Main*/
main{
    height: 80vh;/*Alto del main*/
}
/*Seccion de bienvenida*/
#intro{
    background-color: #FFFFFF;
    height: 40vh;
}
/*Pie de pagina*/
footer{
    height: 5vh;/*Alto del footer*/
    background-color: #AED1E6;
}