/*Reseteo de estilos*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Cuerpo de la pagina*/
body{
    
    
    background-color: #CFE8EF;
    font-family: 'Raleway','sans-serif';
    display:grid;
    grid-template-rows: 7vh auto auto;
    grid-template-columns: 7.5% 85% 7.5%;
    grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer"
    ;
}

/*Encabezado de la pagina*/
nav{
    grid-area: header;
    background-color: #AED1E6;
    color: #FFFFFF;
    padding-bottom: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
 

}
.navbar-toggler{
    border: none;
}

/*Titulo de la pagina*/
.titulo-pagina{
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    color: white;
    
}

/*enlaces del menu*/
.nav-item .nav-link{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.25rem;
    padding: 5px;
}

.offcanvas{
    background-color: #AED1E6;
    
}


 main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
 .contenedor-titulo{
     margin-top: 1rem;
     text-align: center;
     border-bottom: #FFFFFF 2px solid;
     width: 100%;
     height: 4rem;
 }
 .contenedor-titulo .titulo{
     font-size: 3rem;
     color: #FFFFFF;
     font-family: 'Pacifico', cursive;
 }
 /*CONTENEDOR DE TIENDA*/
 .contenedor-tienda{
    background-color: red;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
 }
 /*CONTENEDOR DE ELEMENTOS DE BUSQUEDA*/
.cabecera-busqueda{
    background-color: yellow;
    width: 80%;
}
/*CONTENEDOR DE SECCION SABORES*/
.seccion-sabores{
    background-color: yellow;
}
/*CONTENEDOR DE SECCION FAVORITOS*/
.seccion-favoritos{
    background-color: yellow;
}




 
 /*Pie de pagina*/
footer{
    grid-area: footer;
    background-color: #AED1E6;
    text-align: center;
    padding: 5px;
   
}
footer p{
    
    font-size: 1.20rem;
   
    color: #FFFFFF;
}
