/*CONTENEDOR DEL FORMULARIO*/
.formulario-contacto{
    background-color:$component-color;
    height: 80%;
    width: 60%;
    border-radius: 25px;
    @include flexbox(flex,column,wrap,space-around,center);
    .mensaje-formulario{
        font-size: $font-size-subtitle;
        height: 3rem;
        font-family:$font-title;
        color: $text-white-color;
        text-align: center;
    }
    input{
        width: 90%;
        border-radius: 25px;
        border: none;
        text-align: center;
        &:hover{
            border: 2px solid $elements-color ;
        }
        &:focus{
            border-style: none;
        }
    }
    .mensaje{
        width: 90%;
        height: 30%;
        @include flexbox(flex,column,nowrap,center,center);
        p{
            text-align: center;
        }
        textarea{
            resize: none;
            border: none;
            width: 100%;
            height: 100%;
        }
    }
    .boton{
        width: 50%;
        height: 10%;
        background-color: $elements-color;
        border-radius: 15px;
        border: none;
        color: $text-white-color;
        &:hover{
            border: 5px solid $text-white-color ;
        }
    }
}  


.texto-formulario{
    color: $text-white-color;
    font-size: $font-size-text;
    font-family: $font-text;
    margin: 0;
}







