/*Reseteo de estilos*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Cuerpo de la pagina*/
body{
    
    background-color: #CFE8EF;
    font-family: 'Raleway','sans-serif';
    display:grid;
    grid-template-rows: 7vh 86vh 7vh;
    grid-template-columns: 7.5vw 85vw 7.5vw;
    grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer"
    ;
}


 main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
 .contenedor-titulo{
     margin-top: 1rem;
     text-align: center;
     border-bottom: #FFFFFF 2px solid;
     width: 100%;
     height: 4rem;
 }
 .contenedor-titulo .titulo{
     font-size: 3rem;
     color: #FFFFFF;
     font-family: 'Pacifico', cursive;
 }
/*CONTENEDOR DEL FORMULARIO*/
.formulario-contacto{
    background-color: #AED1E6;
    height: 85%;
    width: 80%;
    border-radius: 25px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
   
}
.mensaje-formulario{
    font-size: 2rem;
    height: 3rem;
    font-family: 'Pacifico', cursive;
    color: #FFFFFF;
    text-align: center;
}


.datos-personales{
    width: 90%;
    height: 30%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.datos{
    width: 45%;
    height: 45%;
    display: flex;
    flex-flow: column nowrap;
}
.datos input{
    width: 100%;
    height: 50%;
    border-radius: 15px;
    border: none;
}
.texto-formulario{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-family: "Raleway";
    margin: 0;
}
.mensaje{
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.mensaje p{
    text-align: center;
}
.mensaje textarea{
    resize: none;
    border: none;
    width: 100%;
    height: 100%;
}
.boton{
    width: 40%;
    height: 10%;
    background-color: #85C7DE;
    border-radius: 15px;
    border: none;
    color: #FFFFFF;
}


/*Pie de pagina*/
footer{
    grid-area: footer;
    background-color: #AED1E6;
    text-align: center;
    padding: 5px;
   
}
footer p{
    
    font-size: 1.20rem;
   
    color: #FFFFFF;
}

