
@import '../components/barra-nav';
@import '../components/main';
@import '../components/banner';
@import '../components/intro-pagina';
@import '../components/info';
@import '../components/footer';



/*MEDIA QUERY*/
/* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
.index-body, body{
    grid-template-rows: auto auto auto;

}
/*BANNER*/
#banner{
    display: none;
}
/*ENLACES A DEMAS PAGINAS*/
.seccion-enlaces{
    display: flex;
    background-color: $text-white-color;
    
}
.lista-enlaces{
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
}
.lista-enlaces-item{
    font-family: pacifico;
    text-align: center;
    color: $text-white-color;
    background-color: $component-color;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top:2px dotted $text-white-color;
}
.lista-enlaces-item a{
    text-decoration: none;
    color: inherit;
}
/*Seccion de info*/
.lista-contacto{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-contacto{
    padding: 0;
    margin: 0;
}
footer{
    position: relative;
    bottom: 0;
}
}
  
  /* Estilos para tablets y dispositivos con pantalla más grande */
  @media only screen and (min-width: 769px)  and (max-width: 992) {
    .index-body{
        grid-template-rows: auto auto auto;
    
    }
    /*ENLACES A DEMAS PAGINAS*/
.seccion-enlaces{
    height: 100px;
    display: flex;
    flex-direction: column;
    background-color: $text-white-color;
    justify-content: center;
    
}
.lista-enlaces{
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.lista-enlaces-item{
    font-family: pacifico;
    text-align: center;
    color: $text-white-color;
    background-color: $component-color;
    height: 95px;
    width: 24%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top:2px dotted $text-white-color;
}
.lista-enlaces-item a{
    text-decoration: none;
    color: inherit;
}



}
  
  
  
  