

/*Encabezado de la pagina*/
nav{
    grid-area: header;
    background-color: $component-color;
    color: $text-white-color;
    padding-bottom: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
 

}
.navbar-toggler{
    border: none;
}

/*Titulo de la pagina*/
.titulo-pagina{
    font-family: $font-title, cursive;
    font-size: 1.5rem;
    color: $text-white-color;
    
}

/*enlaces del menu*/
.nav-item .nav-link{
    text-decoration: none;
    color: $text-white-color;
    font-size: 1.25rem;
    padding: 5px;
}

.offcanvas{
    background-color:$component-color;
    
}







/*Main*/
main{
    grid-area: main;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
/*Banner de inicio*/
#banner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100vw;
    background-image:url("../images/helados.jpg");
    background-repeat: no-repeat;
    background-position-y:90%;
    background-size:cover;
    font-family: $font-title, cursive;
    color: $text-white-color;
    
    text-align: center;
}
#banner h2{
    font-size: 6rem;
    font-weight: 300;
   
}



/*Seccion de bienvenida*/
.intro{
    
    background-color: $text-white-color;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.intro p{
    font-size: 1.5rem;
}
/*titulos*/
.titulo{
    font-family:  $font-title, cursive;
    font-size: 3rem;
    color:$sub-text;
    /* font-family: 'Raleway', sans-serif; */
}





/*Seccion de info*/
#info{
    height: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.lista-contacto{
    display: flex;
    flex-wrap: nowwrap;
    justify-content: space-around;
}
/*item de la lista de contacto*/
.item-contacto{
    flex: 200px;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-top: 2rem;
}

/*iconos de los items de contacto*/
.icono-item-contacto{
    font-size: 2.5rem;
}
/*titulo de los items de contacto*/
.titulo-item-contacto{
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    font-weight: lighter;
    color: $text-white-color;
    
}
/*texto debajo del item*/
.item-contacto p{
    font-size: 1.5rem;
    
}
/*item de redes*/
.item-redes{
    display: inline-block;
    list-style-type: none;
    padding: 5px;
}

/*Imagen de los iconos de redes*/
.logo-redes{
    width: 25px;
    height: 25px;
}

.seccion-enlaces{
    display: none;
}

/*Pie de pagina*/
footer{
    grid-area: footer;
    background-color: $component-color;
    text-align: center;
    padding: 5px;
   
}
footer p{
    
    font-size: 1.20rem;
   
    color: $text-white-color;
}




/*MEDIA QUERY*/
/* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
.index-body, body{
    grid-template-rows: auto auto auto;

}
/*BANNER*/
#banner{
    display: none;
}
/*ENLACES A DEMAS PAGINAS*/
.seccion-enlaces{
    display: flex;
    background-color: $text-white-color;
    
}
.lista-enlaces{
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
}
.lista-enlaces-item{
    font-family: pacifico;
    text-align: center;
    color: $text-white-color;
    background-color: $component-color;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top:2px dotted $text-white-color;
}
.lista-enlaces-item a{
    text-decoration: none;
    color: inherit;
}
/*Seccion de info*/
.lista-contacto{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-contacto{
    padding: 0;
    margin: 0;
}
footer{
    position: relative;
    bottom: 0;
}
}
  
  /* Estilos para tablets y dispositivos con pantalla más grande */
  @media only screen and (min-width: 769px)  and (max-width: 992) {
    .index-body{
        grid-template-rows: auto auto auto;
    
    }
    /*ENLACES A DEMAS PAGINAS*/
.seccion-enlaces{
    height: 100px;
    display: flex;
    flex-direction: column;
    background-color: $text-white-color;
    justify-content: center;
    
}
.lista-enlaces{
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.lista-enlaces-item{
    font-family: pacifico;
    text-align: center;
    color: $text-white-color;
    background-color: $component-color;
    height: 95px;
    width: 24%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top:2px dotted $text-white-color;
}
.lista-enlaces-item a{
    text-decoration: none;
    color: inherit;
}


footer{
    position: relative;
    bottom: 0;
}

}
  
  
  
  