
@import '../components/titulo-secciones';
/*Seccion de descripcion*/
.descripcion{
    margin-top: 1rem;
    padding: 1rem;
    width:100%;
    color: #000000;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 20px;
}
.descripcion p{
    margin: 0;
}
/*seccion del staff de personas*/
.contenedor-staff{
    
    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
    color: #000000;
    text-align: center;
    border-radius: 20px;
}

/*Imagen del trabajador*/
.imagen-trabajador{
    display: inline-block;
    font-size: 7rem;
    background-color: #FFFFFF;
    border-radius: 100%;
    border: #FFFFFF 2px solid;
}
/*Nombre de cada trabajador h4*/
.nombre-trabajador{
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    color: #FFFFFF;
}
/*Puesto de cada trabajador h5*/
.puesto-trabajador{
    font-family: 'pacifico', cursive;
    font-size: 1.5rem;
    color: #8C8888;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
    body{
        grid-template-rows: auto auto auto;
    }

}

/* Estilos para tablets y dispositivos con pantalla más grande */
@media only screen and (min-width: 992px) and (max-width:1024px) {
    body{
        
        grid-template-rows: auto auto auto;
    }
}