
@import '../components/titulo-secciones';
.main-nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.descripcion{
    margin-top: 1rem;
    padding: 1rem;
    width:100%;
    color: $text-black-color;
    text-align: center;
    background-color: $text-white-color;
    border-radius: 25px;
    p{
        margin: 0;
    }
}

/*seccion del staff de personas*/
.contenedor-staff{
    width: 100%;
    color: $text-black-color;
    text-align: center;
    border-radius: 25px;

}
.contenedor-trabajador{
    margin-top: 0.5rem;
    .imagen-trabajador{
        display: inline-block;
        height: 240px;
        width: 240px;
        font-size: 7rem;
        background-color: $text-white-color;
        border-radius: 100%;
        border: $text-white-color 2px solid;
    }
    
    .nombre-trabajador{
        font-family: $font-text;
        font-size:$font-size-name;
        color: $text-black-color;
    }
    
    .puesto-trabajador{
        font-family: $font-title;
        font-size: $font-text;
        color: $text-white-color;
    }
}
