/*CONTENEDOR DE SABORES*/
.contenedor-sabores{
    margin: 1rem 0;
    width: 100%;
    height: 100%;
    @include flexbox(flex,column,nowrap);
    .contenedor-sabor{
        background-color: $text-white-color;
        @include flexbox(flex);
        width: 100%;
        margin: 1rem 0;
    }
    .contenedor-img{
        padding: 1rem;
        img{
            width: 300px ;
            height: 250px;
            border-radius: 25px;
        }
    }
    .info-sabor{
        @include flexbox(flex,column,wrap,center,center);
        .titulo-sabor{
            font-size: $font-size-name;
            font-family:$font-text;
        }
        .descripcion-sabor{
            font-size: 1rem;
            font-family: $font-text;
        }
        .contenedor-botones{
            width: 50%;
            @include flexbox(flex,row,nowrap,space-evenly,center);
            .boton-sabores{
                width: 20%;
                border-radius: 25px;
                background-color: $elements-color;
                border: none;
                color: $text-white-color;
                font-size: $font-size-text;
            }
        }
    }
    
}




