/*Banner de inicio*/
#banner{
    @include flexbox(flex,  row, nowrap, center, center);
    height: 50%;
    width: 100vw;
    background-image:url("../images/helados.jpg");
    background-repeat: no-repeat;
    background-position-y:90%;
    background-size:cover;
    font-family: $font-title, cursive;
    color: $text-white-color;
    text-align: center;
     h2{
        font-size: $font-size-title-page;
        font-weight: 400;
   
    }
}