// <header class="barra-busqueda">
//      <form action="" method="get" class="barra-busqueda-form">
//             <input type="text" name="busqueda" id="busqueda" placeholder="Buscar">
            //<button class="btn-buscar">⌕</button>             
//      </form>
//      <button class="barra-busqueda-boton">🛒</button>
// </header>


 /*CONTENEDOR DE ELEMENTOS DE BUSQUEDA*/
 .cabecera-busqueda{

    width: 100%;
    height: 15%;
}
/*CONTENEDOR DE BARRA DE BUSQUEDA*/
.barra-busqueda{

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    .barra-busqueda-form{
        background-color: $text-white-color;
        width: 60%;
        border-radius: 25px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        .caja-busqueda{
            width: 90%;
            border: none;
            border-radius: 25px;
            &:focus{
                border: none;
            }
        }
        .btn-buscar{
            width: 8%;
            background-color: $text-white-color;
            border: none;
            font-size: 1.5rem;
            border-radius: 25px;
            color: $sub-text;
        }
    }
    .barra-btn-carrito{
        background-color: inherit;
        border: none;
        font-size: 1.5rem;
        width: 20%;
    }

}
