

/*CONTENEDOR DE BARRA DE BUSQUEDA*/
.barra-busqueda{
    margin: 1rem;
    @include flexbox(flex,row,nowrap,center,stretch);
    width: 100%;
    .barra-busqueda-form{
        background-color: $text-white-color;
        width: 70%;
        border-radius: 25px;
        @include flexbox(flex,row,nowrap,center,center);
        .caja-busqueda{
            width: 90%;
            border: none;
            border-radius: 25px;
            &:focus{
                border: none;
            }
            &:active{
                border: none;
            }
        }
        .btn-buscar{
            margin-right: 0.5rem;
            width:10%;
            background-color: $text-white-color;
            border: none;
            font-size: $font-size-text;
            border-radius: 25px;
            color: $sub-text;
        }
    }
    .barra-btn-carrito{
        margin-left: 0.5rem;
        background-color: inherit;
        border: none;
        font-size: $font-size-text;
        width: 10%;
        &:hover{
            transform: scale(1.1,1);
        }
    }

}
