/*CONTENEDOR DE SECCION FAVORITOS*/
.tienda-seccion{
    margin: 1rem;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .contenedor-sabores-tienda{
        border-radius: 25px;
        background-color: $text-white-color;
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-evenly;
      
    }
}
@import './sabor-item';