
/*Seccion de info*/
#info{
    
    width: 100%;
    @include flexbox(flex, column, nowrap, center, center);
    text-align: center;

    .lista-contacto{
        width: 100%;
        @include flexbox(flex, row,  nowrap, space-around);
    }
}
.item-contacto{
    list-style-type: none;
    flex: 200px;
    margin-top: 2rem;
    @include flexbox( flex, column, nowrap, center, center);
    p{
        font-size: $font-size-text;
    }
    
    .icono-item-contacto{
        font-size: $font-size-subtitle;
    }

    .titulo-item-contacto{
        font-family: $font-title;
        font-size: $font-size-subtitle;
        font-weight: lighter;
        color: $text-white-color;
    }
    ul{
        .item-redes{
            display: inline-block;
            list-style-type: none;
            padding: 5px;
            .logo-redes{
                width: 25px;
                height: 25px;
            }
        }    
    }
}
