
/*Seccion de bienvenida*/
.intro{
    padding-top: 0.5rem;
    width: 100%;
    height: 20%;
    background-color: $text-white-color;
    text-align: center;
    @include flexbox( flex, column, nowrap, center, center);
    p{
        font-size: $font-size-text;
    }
}

.titulo{
    font-family:  $font-title;
    font-size: $font-size-title;
    color:$sub-text;
    
}