

/*Seccion de bienvenida*/
.intro{
    width: 100%;
    background-color: $text-white-color;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
        font-size: 1.5rem;
    }
}
/*titulos*/
.titulo{
    font-family:  $font-title, cursive;
    font-size: 3rem;
    color:$sub-text;
    /* font-family: 'Raleway', sans-serif; */
}