

.sabor-item{
    margin-top: 1rem;
    background-color: $component-color;
    border-radius: 25px;
    @include flexbox(flex,column,nowrap,center,center);
    width: 32%;
    height: 400px;
    .sabor-item-img{
        width: 90%;
        height: 60%;
        border-radius: 25px;
    }
    .sabor-item-detalle{
        margin-top: 0.5rem;
        @include flexbox(flex,column,nowrap,center,center);
        h4{
            color: $text-white-color;
            font-family: $font-text;
        }
    }
    &:hover{
        transform: scale(1.1,1);
        margin:0.5rem;
        border: 5px solid $elements-color ;
    }
}
.detalle-btns{
    width: 100%;
    @include flexbox(flex,row,nowrap,space-between,center);
    .boton-sabores{
        border: none;
        border-radius: 25px;
        color: $elements-color;
        width: 40%;
        background-color: $text-white-color;
        &:hover{
            transform: scale(1.1,1);
            margin:0.5rem;
            border: 5px solid $elements-color ;
        }
        
    }
}