

.sabor-item{
    margin-top: 1rem;
    background-color: $component-color;
    border-radius: 25px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 300px;
    .sabor-item-img{
        width: 300px;
        height: 150px;
        border-radius: 25px;
    }
    .sabor-item-detalle{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h4{
            color: $text-white-color;
            font-family: $font-text;
        }
    }
}
/*
                <section class="detalle-btns">
                                <button class="boton-sabores" alt="boton de añadir a cesta">✚</button>
                                <button class="boton-sabores" alt="boton de añadir a favoritos">★</button>
                            </section>
*/
.detalle-btns{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    .boton-sabores{
        color: $elements-color;
        width: 40%;
        background-color: $text-white-color;
    }
}