.radio-inputs {
    margin-top: 1rem;
    @include flexbox(flex,row,nowrap,space-around,center);
    padding: 0.25rem;
    width: 70%;
    height: 100px;
  .radio {
    border-radius: 100%;
    width: 100px;
    height: 100%;
    text-align: center;
    input {
        display: none;
    }
    .name {
        background-color: $columbia-blue-2;
        font-family: $font-title;
        font-size: 1.5rem;
        @include flexbox(flex,row,nowrap,center,center);
        cursor: pointer;
        height: 100%;
        width: 100%;
        border-radius: 100%;
        border: none;
        padding: .5rem 0;
        color:$text-black-color;
        transition: all .15s ease-in-out;
    }&:hover{
      transform: scale(1.1,1);
  }
   } 
  input:checked + .name {
    background-color: $text-white-color;
    font-weight: 600;
  }

}