.radio-inputs {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    width: 100%;
    height: 100px;
  .radio {
    border-radius: 100%;
    width: 150px;
    height: 100%;
    text-align: center;
    input {
        display: none;
    }
    .name {
        font-family: $font-title;
        font-size: 1.5rem;
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        border-radius: 100%;
        border: none;
        padding: .5rem 0;
        color:$text-black-color;
        transition: all .15s ease-in-out;
    }
   } 
  input:checked + .name {
    background-color: #fff;
    font-weight: 600;
  }

}