.contenedor-titulo{
    margin-top: 1rem;
    text-align: center;
    border-bottom: $text-white-color 2px solid;
    width: 100%;
    height: 4rem;
    .titulo{
   
        font-size: $font-title;
        color: $text-white-color;
        font-family: $font-title;
        animation-name: desplazamiento;
        animation-iteration-count:initial;
        animation-timing-function:ease-in-out;
        animation-duration: 0.5s;
       

    }
}
@keyframes desplazamiento {
    0%{ width: 0%}
    
    100%{ width: 100%;}
      
 
}