/*Colores de la pagina*/
$sub-text: rgba(160, 196, 226, 1);
$component-color: rgba(174, 209, 230, 1);
$columbia-blue-2: rgba(198, 219, 240, 1);
$body-color: rgba(207, 232, 239, 1);
$elements-color: rgba(133, 199, 222, 1);
$text-white-color:rgb(255, 255, 255);
$text-black-color:rgb(0,0,0);
/*font-size*/
$font-size-title: 3rem;
$font-size-subtitle:2.25rem;
$font-size-name: 2rem;
$font-size-text: 1.5rem;

/*fuente de la pagina*/
$font-text:'Raleway';
$font-title: 'Pacifico';

//Puntos de quiebre
$breakpoints: (
  'medium': (min-width: 800px),
  'large': (min-width: 1000px),
  'huge': (min-width: 1200px),
);

